.users {
  width: 84%;
  position: relative;
  left: 16%;
}
.users img {
  border-radius: 50%;
  position: absolute;
}
.status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: aqua;
  position: relative;
  right: -20px;
}
.bar {
  height: 3px;
  background: #00dc00;
  border-radius: 5px;
}

@media only screen and (max-width: 700px){
  .users{
    left: 12%;
  }
.status{
  position: relative;
  left: 13px;
}
}