.navbar{
    height: 3rem;
    width: 84%;
    position: relative;
     left:16%;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
   }
   .left{
       display: flex;
      align-content: center;
       justify-content: center;
   }
   .right{
      font-size: large;
      display: flex;
      align-self: center;
      justify-content: center;
   }
   .user{
       position: relative;
       top: -5px;
   }


   @media only screen and (max-width: 700px){
    .right{
        visibility: hidden;
    }
  }